/* Music in session controls*/
/* Style the music controls*/
.now-playing {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1e1e2f;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  